<div class="d-flex justify-content-between mb-3">
  <button
    (click)="goBack()"
    mat-raised-button
    color="accent"
    style="align-self: flex-start"
  >
    <i class="fa fa-arrow-left" aria-hidden="true"></i>
    Back
  </button>

  <div></div>
</div>
<h2 style="text-align: center">Create New Activity</h2>

<div>
  <form
    [formGroup]="createActForm"
    #formDirective="ngForm"
    (ngSubmit)="createActivity(formDirective)"
  >
    <div class="row">
      <div class="col-md-12 mt-4">
        <mat-form-field [hideRequiredMarker]="true" appearance="outline">
          <mat-label>Activity Name</mat-label>
          <input formControlName="name" matInput />
          <mat-error
            style="color: red"
            *ngIf="
              (createActForm.controls['name'].touched ||
                createActForm.controls['name'].dirty) &&
              createActForm.hasError('required', 'name')
            "
            >name is required</mat-error
          >
        </mat-form-field>
      </div>

      <div class="col-md-12">
        <mat-form-field [hideRequiredMarker]="true" appearance="outline">
          <mat-label>Description</mat-label>
          <textarea formControlName="desc" matInput></textarea>
          <mat-error
            style="color: red"
            *ngIf="
              (createActForm.controls['desc'].touched ||
                createActForm.controls['desc'].dirty) &&
              createActForm.hasError('required', 'desc')
            "
            >description is required</mat-error
          >
        </mat-form-field>
      </div>
    </div>
    <button class="mt-4" mat-raised-button color="accent">
      Create Activity
    </button>
  </form>
</div>
