################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Deliverable2/LambdaPP_ProjectCore_D2/.vs/LambdaPP_ProjectCore_D2/FileContentIndex/c15cc455-a4e5-4e3d-bd5c-8589a1f69eba.vsidx
.vs/