.table-image {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}

.card-style-a {
    background-color: rgb(238, 204, 204);
    border-width: 2px;
}

.card-style-b {
    background-color: rgb(179, 170, 249);
}